<div class="row container-full">
    <div class="col-3">
        <app-pokemon-list *ngIf="(!fightService.alreadyStart) || (!fightService.isPlaying && fightService.player1.haveAlivePokemon())"
                          [pokemonList]="fightService.player1.pokemons"
                          (choosePokemon)="choosePokemon1($event)"></app-pokemon-list>
        <app-pkm-data *ngIf="pokemon1" [pokemon]="pokemon1" [ngStyle]="{'opacity': pokemon1 && pokemon1.isDead() ? '0.3' : '1' }" class="pokemonData"></app-pkm-data>
    </div>

    <div class="col-6 position-relative text-white" id="fight">
        <app-logs [logs]="fightService.logs" ></app-logs>
        <div *ngIf="pokemon1 && pokemon2 && !pokemon1.isDead() && !pokemon2.isDead()" id="action">
            <img *ngIf="!fightService.isPlaying" src="../assets/play.png" (click)="run()">
            <img *ngIf="fightService.isPlaying" src="../assets/pause.png" (click)="stop()">
        </div>
    </div>

    <div class="col-3">
        <app-pokemon-list *ngIf="(!fightService.alreadyStart) || (!fightService.isPlaying && fightService.player2.haveAlivePokemon())" [pokemonList]="fightService.player2.pokemons"
                          (choosePokemon)="choosePokemon2($event)"></app-pokemon-list>
        <app-pkm-data *ngIf="pokemon2" [pokemon]="pokemon2" [ngStyle]="{'opacity': pokemon2 && pokemon2.isDead() ? '0.2' : '1' }" class="pokemonData"></app-pkm-data>
    </div>
</div>

<router-outlet></router-outlet>
