<div class="logs" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let log of logs" class="text-center">
        <div *ngIf="!log.isWinnerMessage">
            <span pCustomColor [prefix]="'text'" [className]="log.pokemon.family.className">
                {{log.pokemon.name}}
            </span>
            attaque
            <span
                class="text-{{log.attackFamilyClass}}">{{log.attackLabel}}
            </span>
            <span *ngIf="log.attackData">
                - {{log.getAttackDamage()}} (x{{log.getAttackBonus()}})
            </span>
        </div>

        <h2 *ngIf="log.isWinnerMessage" class="mt-1 mb-3 font-weight-bold text-danger">{{log.pokemon.name}} dead !</h2>
    </div>
</div>
