@import '~bootstrap/dist/css/bootstrap.min.css';
@import "./app/app.component";

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f8f9fa07;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blue;
}

::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-button {
    background-color:  transparent;
}
::-webkit-scrollbar-track-piece{
    background-color: transparent;
}